<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>    
  <link rel="stylesheet" href="assets/css/style.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</head>

<body>
<!-- Navigation -->
<a class='btn btn-dark btn-lg toggle' href='#' id='menu-toggle'>
    <i class='fa fa-bars'></i>
  </a>
  <nav id='sidebar-wrapper'>
    <ul class='sidebar-nav'>
      <a class='btn btn-light btn-lg pull-right toggle' href='#' id='menu-close'>
        <i class='fa fa-times'></i>
      </a>
      <li class='sidebar-brand'>
        <a href='#top' onclick='$("#menu-close").click();'>Start Bootstrap</a>
      </li>
      <li>
        <a href='#top' onclick='$("#menu-close").click();'>Home</a>
      </li>
      <li>
        <a href='#about' onclick='$("#menu-close").click();'>About</a>
      </li>
      <li>
        <a href='#services' onclick='$("#menu-close").click();'>Services</a>
      </li>
      <li>
        <a href='#portfolio' onclick='$("#menu-close").click();'>Portfolio</a>
      </li>
      <li>
        <a href='#contact' onclick='$("#menu-close").click();'>Contact</a>
      </li>
    </ul>
  </nav>
  <!-- Header -->
  <header class='header' id='top'>
    <div class='text-vertical-center'>
      <h1>STRANGER</h1>
      <h3>숭실대학교 퀴어동아리 이방인</h3>
      <br>
      <a class='btn btn-dark btn-lg' href='#about'>더 알아보기</a>
    </div>
  </header>
  <!-- About -->
  <section class='about' id='about'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12 text-center'>
          <h2>가입하고 싶으신 분은 여기로 연락주세요!</h2>
          <hr class='small'>
          <ul class='list-inline'>
            <li>
              <a href='https://www.facebook.com/SSUstranger/' target='_blank'>
                <i class='fa fa-facebook fa-fw fa-3x'></i>
              </a>
            </li>
            <li>
              <a href='https://twitter.com/ssu_stranger' target='_blank'>
                <i class='fa fa-twitter fa-fw fa-3x'></i>
              </a>
            </li>
            <li>
              <a href='https://ssustranger.github.io/' target='_blank'>
                <i class='fa fa-dribbble fa-fw fa-3x'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Services -->
  <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
  <section class='services bg-primary' id='services'>
    <div class='container'>
      <div class='row text-center'>
        <div class='col-lg-10 col-lg-offset-1'>
          <h2>활동내역</h2>
          <hr class='small'>
          <div class='row'>
            <div class='col-md-3 col-sm-6'>
              <div class='service-item'>
                <span class='fa-stack fa-4x'>
                  <i class='fa fa-circle fa-stack-2x'></i>
                  <i class='fa fa-cloud fa-stack-1x text-primary'></i>
                </span>
                <h4>
                  <strong>정기모임</strong>
                </h4>
                <p>이방인은 매달 정기모임을 진행합니다.</p>
                <a class='btn btn-light' href='#'>더 알아보기</a>
              </div>
            </div>
            <div class='col-md-3 col-sm-6'>
              <div class='service-item'>
                <span class='fa-stack fa-4x'>
                  <i class='fa fa-circle fa-stack-2x'></i>
                  <i class='fa fa-compass fa-stack-1x text-primary'></i>
                </span>
                <h4>
                  <strong>퀴어퍼레이드 준비</strong>
                </h4>
                <p>매년 여름 시청에서 열리는 퀴어퍼레이드 부스를 준비합니다.</p>
                <a class='btn btn-light' href='#'>더 알아보기</a>
              </div>
            </div>
            <div class='col-md-3 col-sm-6'>
              <div class='service-item'>
                <span class='fa-stack fa-4x'>
                  <i class='fa fa-circle fa-stack-2x'></i>
                  <i class='fa fa-flask fa-stack-1x text-primary'></i>
                </span>
                <h4>
                  <strong>인권 세미나</strong>
                </h4>
                <p>자체적으로 소수자 인권에 대해서 스터디를 진행합니다.</p>
                <a class='btn btn-light' href='#'>더 알아보기</a>
              </div>
            </div>
            <div class='col-md-3 col-sm-6'>
              <div class='service-item'>
                <span class='fa-stack fa-4x'>
                  <i class='fa fa-circle fa-stack-2x'></i>
                  <i class='fa fa-shield fa-stack-1x text-primary'></i>
                </span>
                <h4>
                  <strong>퀴어 영화제</strong>
                </h4>
                <p>영화 상영을 통해 소수자가 처한 현실에 좀 더 다가갑니다.</p>
                <a class='btn btn-light' href='#'>더 알아보기</a>
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- Callout -->
  <aside class='callout'>
    <div class='text-vertical-center'>
      <h1>STRANGER</h1>
      <h3>Soongsil University Queer Community</h3>
    </div>
  </aside>
  <!-- Portfolio -->
  <section class='portfolio' id='portfolio'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-10 col-lg-offset-1 text-center'>
          <h2>이방인의 역사</h2>
          <hr class='small'>
          <div class='row'>
            <div class='col-md-6'>
              <div class='portfolio-item'>
                <a href='#'>
                  <img class='img-portfolio img-responsive' src="{{ site.baseurl }}/assets/img/work1.jpg"> 
                </a>
              </div>
            </div>
            <div class='col-md-6'>
              <div class='portfolio-item'>
                <a href='#'>
                  <img class='img-portfolio img-responsive' src="{{ site.baseurl }}/assets/img/work2.jpg"> 
                </a>
              </div>
            </div>
            <div class='col-md-6'>
              <div class='portfolio-item'>
                <a href='#'>
                  <img class='img-portfolio img-responsive' src="{{ site.baseurl }}/assets/img/work3.jpg"> 
                </a>
              </div>
            </div>
            <div class='col-md-6'>
              <div class='portfolio-item'>
                <a href='#'>
                  <img class='img-portfolio img-responsive' src="{{ site.baseurl }}/assets/img/work4.jpg"> 
                </a>
              </div>
            </div>
            <div class='col-md-6'>
              <div class='portfolio-item'>
                <a href='#'>
                  <img class='img-portfolio img-responsive' src="{{ site.baseurl }}/assets/img/work5.jpg"> 
                </a>
              </div>
            </div>
            <div class='col-md-6'>
              <div class='portfolio-item'>
                <a href='#'>
                  <img class='img-portfolio img-responsive' src="{{ site.baseurl }}/assets/img/work1.jpg"> 
                </a>
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
          <!-- / %a.btn.btn-dark{:href => "#"} View More Items -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- Call to Action -->
  <!-- %aside.call-to-action.bg-primary -->
  <!-- .container -->
  <!-- .row -->
  <!-- .col-lg-12.text-center -->
  <!-- %h3 The buttons below are impossible to resist. -->
  <!-- %a.btn.btn-lg.btn-light{:href => "#"} Click Me! -->
  <!-- %a.btn.btn-lg.btn-dark{:href => "#"} Look at Me! -->
  <!-- Map -->
  <section class='map' id='contact'>
    <iframe allowfullscreen='' frameborder='0' height='450' src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.4918830715956!2d126.9552709155871!3d37.49631533590374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca1d68d9241cd%3A0xd311fec5fc4f9ec5!2z7Iit7Iuk64yA7ZWZ6rWQ!5e0!3m2!1sko!2skr!4v1550937445713' style='border:0' width='100%'></iframe>
    <!-- / %iframe{:frameborder => "0", :height => "100%", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A&output=embed", :width => "100%"} -->
    <br>
    <small>
      <a href='https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A'></a>
    </small>
  </section>
  <!-- Footer -->
  <footer>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-10 col-lg-offset-1 text-center'>
          <h4>
            <strong>숭실대학교 성소수자동아리 이방인</strong>
          </h4>
          <p></p>
          <ul class='list-unstyled'>
            <li>
              <i class='fa fa-envelope-o fa-fw'></i>
              <a href='mailto:ssustranger@gmail.com'>ssustranger@gmail.com</a>
            </li>
          </ul>
          <br>
          <ul class='list-inline'>
            <li>
              <a href='https://www.facebook.com/SSUstranger/' target='_blank'>
                <i class='fa fa-facebook fa-fw fa-3x'></i>
              </a>
            </li>
            <li>
              <a href='https://twitter.com/ssu_stranger' target='_blank'>
                <i class='fa fa-twitter fa-fw fa-3x'></i>
              </a>
            </li>
            <li>
              <a href='https://ssustranger.github.io/' target='_blank'>
                <i class='fa fa-dribbble fa-fw fa-3x'></i>
              </a>
            </li>
          </ul>
          <hr class='small'>
          <p class='text-muted'>Copyright © 숭실대학교 이방인 2019</p>
        </div>
      </div>
    </div>
    <a class='btn btn-dark btn-lg' href='#top' id='to-top'>
      <i class='fa fa-chevron-up fa-fw fa-1x'></i>
    </a>
  </footer>
  
</body>